/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    height: 100%;
    text-align: center;
    font-size: large;
    background-image: linear-gradient(rgb(149, 228, 214), white) ;
}